# Rider project files
.idea/
.idea/*.iml
.idea/*.xml

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.egg-info/
dist/
build/
.eggs/
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# OS files
.DS_Store
Thumbs.db